#bot_menu{
    width: 100%;
    height: 20px;
    position: relative;
    align-items: baseline;
}
#bot_logo{
    padding-top: 20px;
    padding-left: 20px;
}
#bot_menu ul{
    margin-top: 5px;
    list-style: none;
    text-decoration: none;
}

#bot_menu ul li a:hover{
    text-decoration: underline;
}

#bot_menu ul li{
    float: left;
    padding: 5px 20px;
    border-right: 1px solid #ddd
}  

#bot_menu ul li:last-child{
    border-right: none;
}

#bot_menu ul li a, #bot_menu ul li a:visited{
    font-size: 15px;
    color: rgb(70, 70, 70);
    text-decoration: none;
}

#git_link{
    position: absolute;
    right: 0;
}

#git_link ul li{
    border: none;
    padding: 5px;
}

#team_inf{
    clear: left;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 14px;
    color: rgb(122, 122, 122)
}
