#logo{
    width:200px;
    height:50px;
    padding-bottom:10px;
    padding-left:40px;
    margin:0 auto;
    float:left;
}

#logo_img > img{
    width:300px;
    height:70px;
}

#service{
    width:100px;
    height:42px;
    margin-right:30px;
    float:right;
}

#ser_items{
    float:left;
}

#ser_items img{
    width:44px;
    height:42px;    
}

#service > #ser_items{
    margin-right:5px;
}

#nav{
    width: 100%;
    height: 80px;
    margin-left:20px;
    position: relative;
    display:flex;
    align-items:center;
}

#nav ul{
    margin-top: 15px;
    list-style: none;
    text-decoration: none;
}

#nav ul li{
    padding: 0px 30px;
    font-size:large;
    font-weight: 900;
    font-family: HelveticaNeue-Light, NanumGothic, AppleSDGothicNeo-Light, sans-serif-light, sans-serif;
    float:left;
    border-right:1px solid black;
}

#nav ul li:last-child{
    border-right: none;
}

#nav ul li a,#nav ul li a:visited{
    color:black;
    text-decoration: none;
}

#nav ul li a:hover{
    color : red; 
}/* 색상은 일단 레드 */