#logo{
    width:200px;
    height:50px;
    padding-bottom:10px;
    padding-left:35px;
    margin:0 auto;
    float:left;
}

#logo >img{
    width:280px;
    height:70px;
}

#service{
    width:88px;
    height:42px;
    margin-right:30px;
    float:right;
}

#ser_items{
    float:left;
}

#nav{
    width: 100%;
    height: 80px;
    margin-left:20px;
    position: relative;
    display:flex;
    align-items:center;
}

#nav ul{
    margin-top: 15px;
    list-style: none;
    text-decoration: none;
}

#nav ul li{
    padding: 0px 15px;
    font-weight: 900;
    font-family: Times, "Times New Roman", Georgia, serif;
    float:left;
    border-right:1px solid black;
}

#nav ul li:last-child{
    border-right: none;
}

#nav ul li a,#nav ul li a:visited{
    color:black;
    text-decoration: none;
}