#rec_recipe h2, #rec_tips h2, #rec_store h2{
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 15px;
}

#rec_recipe, #rec_tips, #rec_store{
    border-top: 1px solid rgb(196, 196, 196);
    margin-top: 5px;
}

.recipe_container, .tips_container, .store_container{
    display : flex;
    margin-bottom: 30px;
}

.recipe_container{
    justify-content: space-between;
}

.tips_container{
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px 10px;
}

.store_container{
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    border : 4px solid rgb(52, 52, 52);
    border-radius: 25px;
}

.recipe_items, .tips_items, .store_items{
    /* background-color: rgb(238, 155, 83); */
    text-align: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
}   

.recipe_items{
    background-color: rgb(238, 155, 83);
    flex : 1;
    height: 240px;
    margin : 5px;
}

.tips_items{
    flex-basis: 100px;
    vertical-align: middle;
}

.store_items{
    background-color: rgb(243, 142, 142);
    width: 80%;
    margin : 5px;
}
