*{
    margin0;
    padding0;
    box-sizing:border-box;
}

#container {
    width: 1300px;
    margin: 30px auto;
}

#header{
    width: 100%; /*최종 min-width*/
    height: 130px;
    background-color: #acacac;
}

#banner{
    width: 1000px;
    height: 500px;
    background-color: rgba(105, 226, 78, 0.567);
    margin: 0 auto;
}
#contents{
    width: 1000px;
    background-color: #e26d6d;
    margin: 0 auto;
}

#ranking{
    width: 100%;
    background-color: aqua;
}

#recommend{
    width: 100%;
    background-color: rgb(232, 232, 39);
}

#footer{
    width: 100%;
    height: 100px;
    background-color: #888888;
    clear: left;
}