*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

#container {
    margin: 30px auto;
}

#header{
    width: 100%; /*최종 min-width*/
    height: 130px;
    /* background-color: white; */
    border-bottom:2px solid gray;
    padding-left: 15%;
    padding-right: 18%
}

#banner{
    width: 1400px;
    height: 500px;
    /* background-color: rgba(105, 226, 78, 0.567); */
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    display: flex;
}

#banner_image{
    width: 100%;
    height: 100%;
    border : 1px solid rgb(185, 185, 185);
    border-radius: 25px;
    overflow: hidden;
}

.ban_feature{
    margin-top: 250px;
    margin-left: 80px;
    margin-right: 80px;
}

#contents{
    width: 1200px;
    /* background-color: #e26d6d; */
    margin: 0 auto;
}

#ranking{
    width: 100%;
    height: 435px;
    /* background-color: rgb(232, 27, 27); */
    margin-top: 30px;
}

#ranking_container{
    background-color: rgb(230, 227, 227);
    height: 382px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    border : 2px solid white;
    border-radius: 50px;
    justify-content: space-around;
}
.rank_items{
    height: 115.125px;
    font-size: 50px;
    font-weight: 900;
    display: flex;
    align-items: center;
    /* background-color: rgb(130, 235, 153); */
    justify-content: space-between;
    text-align: center;
}
.rank_items a, .rank_items a:visited{
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    color: black;

}
.rank_items img{
    width: 60px;
    margin-right: 30px;
}
.rank_img img{
    margin-right: 10px;
    margin-left: 25px   ;
}

#recommend{
    width: 100%;
    /* background-color: rgb(148, 147, 150); */
}

#footer{
    width: 100%;
    border-top: 1px solid gray;
    margin-top: 15px;
    padding-left: 430px;
    padding-right: 450px;
    clear: left;
    background-color: rgb(245, 245, 245);
}